[workspace]
members = [
    "clients/ics08-wasm",
    "clients/sov-celestia",
    "clients/sov-celestia-cw",
    "modules/sov-ibc",
    "modules/sov-ibc-transfer",
    "mocks",
]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
authors = ["Informal Systems <hello@informal.systems>"]
publish = false
repository = "https://github.com/informalsystems/sovereign-ibc"
rust-version = "1.66"

[workspace.dependencies]

# external dependencies
anyhow = "1.0.68"
borsh = { version = "0.10.3", features = ["rc", "bytes"] }
base64 = { version = "0.21", default-features = false }
bytes = { version = "1.2.1", default-features = false }
derive_more = { version = "0.99.11", features = ["from", "try_into"] }
digest = "0.10.6"
hex = "0.4.3"
jsonrpsee = { version = "0.20.1", features = [
    "jsonrpsee-types",
    "macros",
    "client",
    "server",
] }
prost = { version = "0.12", default-features = false }
serde = { version = "1.0.188", default-features = false, features = ["derive", "rc"] }
serde_json = "1.0"
schemars = { version = "0.8.12", features = ["derive"] }
tempfile = "3.5"
thiserror = "1.0.38"

# ibc depedenencies
ibc = { git = "https://github.com/cosmos/ibc-rs/", rev = "b7dd19d", default-features = false, features = [
    "borsh",
    "schema",
    "serde",
] }
ibc-query = { git = "https://github.com/cosmos/ibc-rs/", rev = "b7dd19d", default-features = false }

# tendermint dependencies
tendermint = { version = "0.34", default-features = false }
tendermint-light-client-verifier = { version = "0.34", default-features = false }
tendermint-proto = { version = "0.34", default-features = false }
tendermint-testgen = { version = "0.34", default-features = false }

# sovereign dependencies
sov-bank = { git = "https://github.com/informalsystems/sovereign-sdk.git", rev = "876eb0b" }
sov-chain-state = { git = "https://github.com/informalsystems/sovereign-sdk.git", rev = "876eb0b" }
sov-modules-api = { git = "https://github.com/informalsystems/sovereign-sdk.git", rev = "876eb0b" }
sov-modules-macros = { git = "https://github.com/informalsystems/sovereign-sdk.git", rev = "876eb0b" }
sov-state = { git = "https://github.com/informalsystems/sovereign-sdk.git", rev = "876eb0b" }
sov-rollup-interface = { git = "https://github.com/informalsystems/sovereign-sdk.git", rev = "876eb0b" }


[patch.crates-io]
ibc-proto = { git = "https://github.com/cosmos/ibc-proto-rs", rev = "6573eeb" }