[workspace]
resolver = "2"
members = [
    "clients/sov-celestia/types",
    "clients/sov-celestia",
    "clients/sov-celestia-cw",
    "modules/sov-ibc-transfer",
    "modules/sov-ibc", 
    "mocks",
]

[workspace.package]
version      = "0.1.0"
license      = "MIT OR Apache-2.0"
edition      = "2021"
rust-version = "1.66"
publish      = false
authors      = ["Informal Systems <hello@informal.systems>"]
repository   = "https://github.com/informalsystems/sovereign-ibc"

[workspace.dependencies]
# external dependencies
anyhow      = "1.0.68"
base64      = { version = "0.21", default-features = false }
borsh       = { version = "0.10.3", features = ["rc", "bytes"] }
bytes       = { version = "1.2.1", default-features = false }
derive_more = { version = "0.99.11", features = ["from", "try_into"] }
digest      = "0.10.6"
hex         = "0.4.3"
jsonrpsee   = { version = "0.20.1", features = ["jsonrpsee-types", "macros", "client", "server"] }
prost       = { version = "0.12", default-features = false }
serde       = { version = "1.0", features = ["derive", "rc"] }
serde_json  = "1.0"
schemars    = { version = "0.8.12", features = ["derive"] }
tempfile    = "3.5"
thiserror   = "1.0.38"

# ibc depedenencies
ibc-core              = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5c7cea88d0", default-features = false, features = ["borsh","schema","serde"] }
ibc-core-client       = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5c7cea88d0", default-features = false }
ibc-core-host-cosmos  = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5c7cea88d0", default-features = false }
ibc-client-tendermint = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5c7cea88d0", default-features = false }
ibc-client-wasm-types = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5c7cea88d0", default-features = false }
ibc-app-transfer      = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5c7cea88d0", default-features = false }
ibc-primitives        = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5c7cea88d0", default-features = false }
ibc-query             = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5c7cea88d0", default-features = false }
ibc-testkit           = { git = "https://github.com/cosmos/ibc-rs.git", rev = "5c7cea88d0", default-features = false }
ibc-proto             = { git = "https://github.com/cosmos/ibc-proto-rs.git", rev = "d1daaab", default-features = false }

# cosmos dependencies
tendermint            = { version = "0.34", default-features = false }
tendermint-proto      = { version = "0.34", default-features = false }
tendermint-testgen    = { version = "0.34", default-features = false }
tendermint-light-client-verifier = { version = "0.34", default-features = false }

# sovereign dependencies
const-rollup-config        = { git = "ssh://git@github.com/Sovereign-Labs/sovereign-sdk-wip.git", rev = "ba092a2" }
sov-bank                   = { git = "ssh://git@github.com/Sovereign-Labs/sovereign-sdk-wip.git", rev = "ba092a2" }
sov-chain-state            = { git = "ssh://git@github.com/Sovereign-Labs/sovereign-sdk-wip.git", rev = "ba092a2" }
sov-mock-da                = { git = "ssh://git@github.com/Sovereign-Labs/sovereign-sdk-wip.git", rev = "ba092a2" }
sov-modules-api            = { git = "ssh://git@github.com/Sovereign-Labs/sovereign-sdk-wip.git", rev = "ba092a2" }
sov-modules-stf-blueprint  = { git = "ssh://git@github.com/Sovereign-Labs/sovereign-sdk-wip.git", rev = "ba092a2" }
sov-state                  = { git = "ssh://git@github.com/Sovereign-Labs/sovereign-sdk-wip.git", rev = "ba092a2" }
sov-schema-db              = { git = "ssh://git@github.com/Sovereign-Labs/sovereign-sdk-wip.git", rev = "ba092a2" }
sov-rollup-interface       = { git = "ssh://git@github.com/Sovereign-Labs/sovereign-sdk-wip.git", rev = "ba092a2" }
sov-prover-storage-manager = { git = "ssh://git@github.com/Sovereign-Labs/sovereign-sdk-wip.git", rev = "ba092a2" }
