[package]
name = "sov-ibc-mocks"
authors      = { workspace = true }
edition      = { workspace = true }
license      = { workspace = true }
repository   = { workspace = true }
rust-version = { workspace = true }
version      = { workspace = true }
readme       = "README.md"
publish      = false

[dependencies]
# external dependencies
anyhow        = { workspace = true }
async-trait   = { version = "0.1.74", default-features = false }
base64        = { workspace = true }
borsh         = { workspace = true }
prost         = { workspace = true }
sha2          = { version = "0.10.6", default-features = false }
serde         = { workspace = true }
serde_json    = { workspace = true }
tokio         = { version = "1", features = ["full"] }
toml          = "0.8.0"
tower-abci    = "0.11"
tower         = { version = "0.4", features = ["full"] }
tempfile      = { workspace = true }
tracing       = "0.1.36"
typed-builder = "0.18.0"

# internal dependencies
sov-consensus-state-tracker = { git = "https://github.com/informalsystems/sovereign-ibc.git", rev = "05449e2" }
sov-ibc                     = { git = "https://github.com/informalsystems/sovereign-ibc.git", rev = "05449e2" }
sov-ibc-transfer            = { git = "https://github.com/informalsystems/sovereign-ibc.git", rev = "05449e2" }
sov-celestia-client         = { git = "https://github.com/informalsystems/sovereign-ibc.git", rev = "05449e2", features = ["test-util"] }

# ibc dependencies
ibc-core              = { workspace = true }
ibc-app-transfer      = { workspace = true }
ibc-client-tendermint = { workspace = true }
ibc-core-host-cosmos  = { workspace = true }
ibc-query             = { workspace = true }
ibc-testkit           = { git = "https://github.com/cosmos/ibc-rs.git", rev = "552863ec93", default-features = false }

# cosmos dependencies
basecoin-app         = { git = "https://github.com/informalsystems/basecoin-rs.git", rev = "8c3e924" }
basecoin-store       = { git = "https://github.com/informalsystems/basecoin-rs.git", rev = "8c3e924" }

tendermint           = { workspace = true }
tendermint-testgen   = { workspace = true }

# sovereign dependencies
sov-bank                   = { workspace = true }
sov-chain-state            = { workspace = true }
sov-modules-api            = { workspace = true }
sov-rollup-interface       = { workspace = true }
sov-state                  = { workspace = true }

sov-celestia-adapter       = { git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git", rev = "a1d9ed8", features = ["native"], optional = true }
sov-mock-da                = { git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git", rev = "a1d9ed8", features = ["native"], optional = true }
sov-modules-stf-blueprint  = { git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git", rev = "a1d9ed8" }
sov-prover-storage-manager = { git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git", rev = "a1d9ed8", features = ["test-utils"] }
sov-schema-db              = { git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git", rev = "a1d9ed8" }
const-rollup-config        = { git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git", rev = "a1d9ed8" }
jmt = { git = "https://github.com/penumbra-zone/jmt.git", rev = "1d007e11cb68aa5ca13e9a5af4a12e6439d5f7b6" }

[dev-dependencies]
test-log              = { version = "0.2.14", default-features = false, features = ["trace"] }
tracing-subscriber    = { version = "0.3", default-features = false, features = ["env-filter", "fmt"] }

[features]
default = ["native"]
native = [
    "sov-bank/native",
    "sov-celestia-adapter",
    "sov-chain-state/native",
    "sov-modules-api/native",
    "sov-modules-stf-blueprint/native",
    "sov-state/native",
    "sov-mock-da",
    "sov-rollup-interface/native",
    "sov-ibc/native",
    "sov-ibc-transfer/native",
]
