[package]
name = "sov-celestia-cw"
authors = { workspace = true }
edition = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }
version = { workspace = true }
readme = "README.md"
publish = false
resolver = "2"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
# external dependencies
base64 = { workspace = true, features = ["alloc"] }
bytes = { workspace = true }

derive_more = { workspace = true }
prost = { workspace = true, default-features = false }
schemars = "0.8.10"
sha2 = "0.10"
serde = { version = "1.0.145", default-features = false, features = ["derive"] }
serde_json =  { package = "serde-json-wasm", version = "1.0.0" , default-features = false, optional = true }
thiserror = { version = "1.0.31" }

getrandom = { version = "0.2", features = ["js"] }

# ibc dependencies
ibc = { workspace = true }
ibc-proto = { version = "0.37.1", default-features = false, features = ["json-schema"] }
ics23 = {version = "0.11", default-features = false }
ics08-wasm = { path = "../ics08-wasm", default-features = false, features = ["cosmwasm"] }

tendermint = { git = "https://github.com/eigerco/celestia-tendermint-rs.git", rev = "1f8b574", default-features = false }
tendermint-proto = { git = "https://github.com/eigerco/celestia-tendermint-rs.git", rev = "1f8b574" }
tendermint-light-client-verifier = { git = "https://github.com/eigerco/celestia-tendermint-rs.git", rev = "1f8b574" }

celestia-proto = { git = "https://github.com/eigerco/celestia-node-rs.git", rev = "1fa61eb" }
celestia-types = { git = "https://github.com/eigerco/celestia-node-rs.git", rev = "1fa61eb", default-features = false }

# cosmwasm dependencies
cosmwasm-schema = "1.4.1"
cosmwasm-std = "1.4.1"


[features]
default = ["std"]
std = [
	"ibc/std",
	"ibc-proto/std",
	"ics08-wasm/std",
	"ics23/std",
	"prost/std",
	"serde/std",
	"serde_json/std",
	"sha2/std",
	"tendermint/std"
]
test = [
  "std"
]
# use library feature to disable all instantiate/execute/query exports
library = []