[patch.crates-io]

sov-ibc                     = { path = "modules/sov-ibc" }
sov-ibc-transfer            = { path = "modules/sov-ibc-transfer" }
sov-consensus-state-tracker = { path = "modules/sov-consensus-state-tracker" }
sov-celestia-client         = { path = "clients/sov-celestia" }

ibc                   = { git = "https://github.com/cosmos/ibc-rs.git", rev = "2378cd4" }
ibc-core              = { git = "https://github.com/cosmos/ibc-rs.git", rev = "2378cd4" }
ibc-core-client       = { git = "https://github.com/cosmos/ibc-rs.git", rev = "2378cd4" }
ibc-core-host-cosmos  = { git = "https://github.com/cosmos/ibc-rs.git", rev = "2378cd4" }
ibc-client-tendermint = { git = "https://github.com/cosmos/ibc-rs.git", rev = "2378cd4" }
ibc-client-wasm-types = { git = "https://github.com/cosmos/ibc-rs.git", rev = "2378cd4" }
ibc-client-cw         = { git = "https://github.com/cosmos/ibc-rs.git", rev = "2378cd4" }
ibc-app-transfer      = { git = "https://github.com/cosmos/ibc-rs.git", rev = "2378cd4" }
ibc-primitives        = { git = "https://github.com/cosmos/ibc-rs.git", rev = "2378cd4" }
ibc-query             = { git = "https://github.com/cosmos/ibc-rs.git", rev = "2378cd4" }
ibc-testkit           = { git = "https://github.com/cosmos/ibc-rs.git", rev = "2378cd4" }

cosmrs   = { git = "https://github.com/cosmos/cosmos-rust.git", rev = "4f2e3bb" }
basecoin = { git = "https://github.com/informalsystems/basecoin-rs.git", rev = "6b0bae1" }
jmt      = { git = "https://github.com/penumbra-zone/jmt.git", rev = "1d007e11cb68aa5ca13e9a5af4a12e6439d5f7b6" }


# The sovereign-sdk patches are specified in two modes.
# In the normal mode, the uncommented git URLs would allow Cargo to fetch from sovereign-sdk private git repository.
# In Nix mode, the git lines are commented, and the path lines are uncommented, to fetch sovereign-sdk
# modules from a local vendor file path.
# As a result, _both_ git and path entries for each sovereign-sdk module is required, with the path section commented.

[patch.crates-io.sov-modules-api]
# path = "vendor/sovereign-sdk/module-system/sov-modules-api"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"

[patch.crates-io.sov-state]
# path = "vendor/sovereign-sdk/module-system/sov-state"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"

[patch.crates-io.sov-bank]
# path = "vendor/sovereign-sdk/module-system/module-implementations/sov-bank"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"

[patch.crates-io.sov-sequencer-registry]
# path = "vendor/sovereign-sdk/module-system/module-implementations/sov-sequencer-registry"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"

[patch.crates-io.sov-db]
# path = "vendor/sovereign-sdk/full-node/sov-db"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"

[patch.crates-io.sov-rollup-interface]
# path = "vendor/sovereign-sdk/rollup-interface"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"

[patch.crates-io.sov-mock-zkvm]
# path = "vendor/sovereign-sdk/adapters/mock-zkvm"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"

[patch.crates-io.sov-prover-storage-manager]
# path = "vendor/sovereign-sdk/full-node/sov-prover-storage-manager"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"

[patch.crates-io.sov-kernels]
# path = "vendor/sovereign-sdk/module-system/sov-kernels"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"

[patch.crates-io.sov-celestia-adapter]
# path = "vendor/sovereign-sdk/adapters/celestia"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"

[patch.crates-io.sov-mock-da]
# path = "vendor/sovereign-sdk/adapters/mock-da"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"

[patch.crates-io.const-rollup-config]
# path = "vendor/sovereign-sdk/examples/const-rollup-config"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"

[patch.crates-io.sov-chain-state]
# path = "vendor/sovereign-sdk/module-system/module-implementations/sov-chain-state"
git = "ssh://git@github.com/informalsystems/sovereign-sdk-wip.git"
rev = "fc1552b44acddc2674a783cd11f301a8b79cc4f3"
