
[patch.crates-io]

sov-ibc                         = { path = "modules/sov-ibc" }
sov-ibc-transfer                = { path = "modules/sov-ibc-transfer" }
sov-consensus-state-tracker     = { path = "modules/sov-consensus-state-tracker" }
sov-celestia-client             = { path = "clients/sov-celestia" }

ibc                             = { git = "https://github.com/cosmos/ibc-rs.git", rev = "c579628c67" }
ibc-core                        = { git = "https://github.com/cosmos/ibc-rs.git", rev = "c579628c67" }
ibc-core-client                 = { git = "https://github.com/cosmos/ibc-rs.git", rev = "c579628c67" }
ibc-core-host-cosmos            = { git = "https://github.com/cosmos/ibc-rs.git", rev = "c579628c67" }
ibc-client-tendermint           = { git = "https://github.com/cosmos/ibc-rs.git", rev = "c579628c67" }
ibc-client-wasm-types           = { git = "https://github.com/cosmos/ibc-rs.git", rev = "c579628c67" }
ibc-app-transfer                = { git = "https://github.com/cosmos/ibc-rs.git", rev = "c579628c67" }
ibc-primitives                  = { git = "https://github.com/cosmos/ibc-rs.git", rev = "c579628c67" }
ibc-query                       = { git = "https://github.com/cosmos/ibc-rs.git", rev = "c579628c67" }
ibc-testkit                     = { git = "https://github.com/cosmos/ibc-rs.git", rev = "c579628c67" }

basecoin                        = { git = "https://github.com/informalsystems/basecoin-rs.git", rev = "5af9823" }
jmt                             = { git = "https://github.com/penumbra-zone/jmt.git", rev = "1d007e11cb68aa5ca13e9a5af4a12e6439d5f7b6" }

sov-modules-api                 = { path = "vendor/sovereign-sdk/module-system/sov-modules-api" }
sov-state                       = { path = "vendor/sovereign-sdk/module-system/sov-state" }
sov-bank                        = { path = "vendor/sovereign-sdk/module-system/module-implementations/sov-bank" }
sov-sequencer-registry          = { path = "vendor/sovereign-sdk/module-system/module-implementations/sov-sequencer-registry" }
sov-db                          = { path = "vendor/sovereign-sdk/full-node/sov-db" }
sov-rollup-interface            = { path = "vendor/sovereign-sdk/rollup-interface" }
sov-mock-zkvm                   = { path = "vendor/sovereign-sdk/adapters/mock-zkvm" }
sov-prover-storage-manager      = { path = "vendor/sovereign-sdk/full-node/sov-prover-storage-manager" }
sov-kernels                     = { path = "vendor/sovereign-sdk/module-system/sov-kernels" }
sov-modules-core                = { path = "vendor/sovereign-sdk/module-system/sov-modules-core" }
sov-celestia-adapter            = { path = "vendor/sovereign-sdk/adapters/celestia" }
sov-mock-da                     = { path = "vendor/sovereign-sdk/adapters/mock-da" }
const-rollup-config             = { path = "vendor/sovereign-sdk/examples/const-rollup-config" }
sov-chain-state                 = { path = "vendor/sovereign-sdk/module-system/module-implementations/sov-chain-state" }
