name: Code Quality Checks
on:
  pull_request:

jobs:
  code-quality:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Spell Check with Typos
        uses: crate-ci/typos@v1
        with:
          config: ./.github/typos.toml

      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: baptiste0928/cargo-install@v3
        with:
          crate: taplo-cli
      - run: taplo fmt --check
