name: CosmWasm Check
on:
  pull_request:
    paths:
      - .github/workflows/cw-check.yml
      - Cargo.toml
      - Cargo.lock
      - clients/**

  push:
    branches: main
    paths:
      - .github/workflows/cw-check.yml
      - Cargo.toml
      - Cargo.lock
      - clients/**

jobs:
  cw-check:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true
          token: ${{ secrets.AUTH_TOKEN }}
      - uses: cachix/install-nix-action@v26
        with:
          extra_nix_config: |
            experimental-features = nix-command flakes
      - uses: cachix/cachix-action@v14
        with:
          name: hermes-sdk
          extraPullNames: informal-sovereign
      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: wasm32-unknown-unknown
          profile: minimal
          override: true
      - name: Cache Cargo registry
        uses: Swatinem/rust-cache@v2
      - name: Build sov-celestia CosmWasm contract
        run: |
          make build-sov-celestia-cw
          nix build .#sov-celestia-cw

